extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h4 Bitwarden

      p Bitwarden ist ein Passwortmanager. Ein Passwortmanager ist ein Programm, das Account-Daten, Passwörter und andere 'geheime' Informationen verschlüsselt speichert. Kein Passwortmanager ist 100 % sicher aber um Datenklau vorzubeugen ohne einen dafür unangemessenen Aufwand zu betreiben ist ein Passwortmanager ein angemessenes Werkzeug.

      p Ein Passwortmanager hat die Vorteile, dass dort Daten systematisch geordnet gespeichert werden können, man sich keine Passwörter mehr merken muss, sprich die gewählten Passwörter sehr lange, kryptisch und somit sicherer sein können, die Erstellung neuer Nutzer*innenkonten weniger Zeit benötigt und Passwörter schnell geändert werden können. Außerdem findet man die Passwörter i.d.R. viel schneller als in einer Liste und Metadaten, wie das Datum der Erstellung des Accounts werden automatisch dokumentiert. Des weiteren können alle Passwörter sowohl auf dem PC als auch auf mobilen Geräten abgerufen werden.

      p Für Anfänger*innen empfiehlt es sich nur die Desktopversion von Bitwarden zu nutzen. Eine Desktopversion ist eine Version eines Programms, das getrennt von anderen Programmen auf dem PC läuft. Das Pendant zu einer Desktopversion ist eine Cloud- bzw. Browserversion, die nicht auf dem lokalen PC installiert wird sonder auf einem Dienstleister-Server installiert ist und quasi über Internet-Fernzugriff benutzt wird.

      p Die Bitwarden-Desktopversion funktioniert wie folgt:
      p Das Programm wird installiert.
      p Beim ersten Programmstart wird ein Masterpasswort (Generalpasswort) festgelegt, das benötigt wird um die Passwortdatenbank einzusehen. Dieses Passwort ist das einzige, dass nirgends gespeichert wird. Also muss man es sich gut merken können aber es sollte dennoch sehr sicher sein. 
      p Beim zukünftigen Start von Bitwarden muss der gewählte Benuitzername (die eigene Emailadresse) und das Masterpasswort angegeben werden.
      p Nach erfolgter Anmeldung/Entsperrung können neue Passwortkonten angelegt oder vorhandene eingesehen werden. 
      p Passwörter einsehen und verwenden:
      p Um Passwörter einzusehen kann der Entsprechende Account in der Liste angeklickt werden oder falls schon viele Accounts hinterlegt sind durch Eingabe des Account-namens in das Feld "Tresor durchsuchen" gefunden werden.
      p Wird ein Account durch Anklicken ausgewählt erscheinen im rechten Teil des Programmfensters alle Daten zu dem Account. Das Passwort ist standardmäßig ausgeblendet und durch Punkte stilisiert. Um es zu sehen kann auf das Augen-Symbol neben dem Passwort geklickt werden. Sicherheitshalber sollte es dann möglichst bald wieder durch erneutes Klicken auf des Augen-Symbol unsichtbar gemacht werden. Gewöhnlich ist das Einsehen des Passortes nicht nötig, da es reicht es durch das Kopieren-Symbol rechts neben dem Augen-Symbol in den Zwischenspeicher zu kopieren. Nun ist das Passwort im Zwischenspeicher und kann dort, wo es benötigt wird durch Drücken der Tastenkombination strg + v oder mit Rechtsklick und der dann erscheinenden Funktion "Einfügen", eingefügt werden. Bitwarden muss nicht geschlossen werden sondern kann im Hintergrund weiterlaufen, da häufig noch weitere Passwörter benötigt werden. Bitwarden kann aber auch geschlossen werden. In diesem Fall muss das Masterpasswort erneut eingegeben werden, wenn Bitwarden das nächste Mal gestartet wird um ein Passwort abzurufen.

      p Bitwarden ist kostenlos und Open-Source.