extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h4 Tipps zum Browser
      p Ein Browser ist ein Programm zum Anzeigen von Webseiten. 'Rohe' Webseiten bestehen aus unterschiedlichen Dateien mit Programmcode. Der Browser liest diese Dateien und stellt sie dar.
