extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h4 Tipps zum Browser
      p Ein Browser ist ein Programm zum Anzeigen von Webseiten. 'Rohe' Webseiten bestehen aus unterschiedlichen Dateien mit Programmcode. Der Browser liest diese Dateien und stellt sie dar.

      p Ein wichtiges Werkzeug ist die Suchmaschinennutzung. Nicht nur Google ist eine Suchmaschine, sondern es gibt einige spezielle Suchmaschinen, die eine gute Ergänzung zu Google darstellen. Um eine bestimmte Suchmaschine zu benutzen kannst du einfach deren Abkürzung (meist Anfangsbuchstabe(n) s. Tabelle) in die Adresszeile des Browsers eingeben. Nach der Abkürzung einfach Leerzeichen und die Suche. Die Eingabe "m Liberty Island, 10004 New York" führt bspw. direkt zur Ansicht der Adresse der Freiheitsstatue auf GoogleMaps. Sehr praktisch und zeitsparend!

      p Hier ein kurzer Abriss:
       
  
    div(class='md_max_size_div mdl-card mdl-shadow--2dp')
      table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp")
        tr
          th(class="mdl-data-table__cell--non-numeric") Suchmaschine
          th(class="mdl-data-table__cell--non-numeric") Taste
          th(class="mdl-data-table__cell--non-numeric") Beschreibung
        tr(class="essential")
          td(class="mdl-data-table__cell--non-numeric") GoogleMaps
          td(class="mdl-data-table__cell--non-numeric") m
          td(class="mdl-data-table__cell--non-numeric") Kartendienst mit Oberfläche
        tr(class="nicetoknow")
          td(class="mdl-data-table__cell--non-numeric") GoogleScholar
          td(class="mdl-data-table__cell--non-numeric") s
          td(class="mdl-data-table__cell--non-numeric") Suchdienst für Wissenschaftliche Publikationen, hilft auch beim Zitiren
        tr(class="essential")
          td(class="mdl-data-table__cell--non-numeric") YouTube
          td(class="mdl-data-table__cell--non-numeric") y
          td(class="mdl-data-table__cell--non-numeric") Videoplattform
        tr(class="essential")
          td(class="mdl-data-table__cell--non-numeric") Leo
          td(class="mdl-data-table__cell--non-numeric") l
          td(class="mdl-data-table__cell--non-numeric") Übersetzen von Wörtern
        tr(class="nicetoknow")
          td(class="mdl-data-table__cell--non-numeric") Wikipedia
          td(class="mdl-data-table__cell--non-numeric") w
          td(class="mdl-data-table__cell--non-numeric") Infoquelle bspw. gut geeignet für Einstieg in ein Thema
        tr(class="nicetoknow")
          td(class="mdl-data-table__cell--non-numeric") Amazon
          td(class="mdl-data-table__cell--non-numeric") a
          td(class="mdl-data-table__cell--non-numeric") Kann zur Produkt- und Preisrecherche genutzt werden
        tr(class="advanced")
          td(class="mdl-data-table__cell--non-numeric") Otto
          td(class="mdl-data-table__cell--non-numeric") o
          td(class="mdl-data-table__cell--non-numeric") Modernes deutsches Warenhaus, konnte sich als einziges bis heute behaupten
        tr(class="nicetoknow")
          td(class="mdl-data-table__cell--non-numeric") E-Bay-Kleinanzeigen
          td(class="mdl-data-table__cell--non-numeric") ek
          td(class="mdl-data-table__cell--non-numeric") Riesige second hand Plattform für alles (auch Dienstleistungen)
        tr(class="advanced")
          td(class="mdl-data-table__cell--non-numeric") Linguee
          td(class="mdl-data-table__cell--non-numeric") lg
          td(class="mdl-data-table__cell--non-numeric") Übersetzen ganzer Sätze
        tr(class="advanced")
          td(class="mdl-data-table__cell--non-numeric") OpenStreetMap
          td(class="mdl-data-table__cell--non-numeric") osm
          td(class="mdl-data-table__cell--non-numeric") Hat detaillierte Karten aber ist auch ein Projekt über die Karte hinaus. Hält viele (Geo)Daten bereit)