header.mdl-layout__header
  .mdl-layout__header-row
    // Title, &nbsp = force withespace
    span.mdl-layout-title
      |Abschnitt&nbsp
      =title
    // Add spacer, to align navigation to the right
    .mdl-layout-spacer
    // Navigation. We hide it in small screens.
    nav.mdl-navigation.mdl-layout--large-screen-only

.mdl-layout__drawer
  span.mdl-layout-title
      | PC Basics & Hilfen
  nav.mdl-navigation
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Start
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/wunschbeitrag') Wunschbeitrag
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/browser') Browser Tipps
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/mausklick') Mausklick Tipps
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/shortcuts') Shortcuts
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/whatsapp') WhatsApp
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/kontakt') Kontakt anlegen
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/bitwarden') Bitwarden
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/trello') Trello
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/recherchieren') Recherchieren
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/content/googletrends') Google Trends