extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      div(class='center_div')
        h1 Willkommen
        img(src='/images/rsz_notebook.jpg')
        h5 zu PC Basics & Hilfen! Hier gibt es anwendungsbezogenes Wissen zu Informationstechnologieen.
