extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
        h5 So wird ein neuer Kontakt eingetragen und gespeichert
        .mdl-card.mdl-card--border.mdl-shadow--2dp.mdl-card__title
          p Als erstes die Telefonapp starten.
          img(src='/images/kontakt_hinzufügen_1.png', width='280')
        p
        .mdl-card.mdl-card--border.mdl-shadow--2dp.mdl-card__title
          p Dann den Kontakt-Tab öfnnen.
          img(src='/images/kontakt_hinzufügen_2.png', width='280')
        p
        .mdl-card.mdl-card--border.mdl-shadow--2dp.mdl-card__title
          p Dann auf den runden Hinzufügen-Button tippen.
          img(src='/images/kontakt_hinzufügen_3a.png', width='280')
        p
        .mdl-card.mdl-card--border.mdl-shadow--2dp.mdl-card__title
          p Dann das Formular ausfüllen. Es müssen nicht alle Felder ausgefüllt werden.
          img(src='/images/kontakt_hinzufügen_3b.png', width='280')
        p
        .mdl-card.mdl-card--border.mdl-shadow--2dp.mdl-card__title
          p Nachdem du auf "Speichern" getippt hast, öffnet sich der neue Kontakt:
          img(src='/images/kontakt_hinzufügen_3c.png', width='280')
        p
        .mdl-card.mdl-card--border.mdl-shadow--2dp.mdl-card__title
          p Der gerade hinzugefügte Kontakt sollte jetzt auch in der Kontakte-Liste auftauchen:
          img(src='/images/kontakt_hinzufügen_3d.png', width='280')
        p
