doctype html
html
  head
    block head
      block title
        title PC Basics & Hilfen
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name="mobile-web-app-capable" content="yes")
      link(rel='stylesheet', href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.purple-cyan.min.css")
      link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='/javascripts/hideaddressbar.js')
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include header

      main.mdl-layout__content
        block content

        include footer

    include links
    