extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h1 Unterschiede Mausklicks
      p Es gibt drei Arten: Rechtsklick, Linksklick und Links-Doppelklick.
      p Eine einfache Regel sollte schon mal in den meisten Fällen helfen: 
      p Regel: "Einfach grundsätzlich Linksklick verwenden und nur Doppelklick um Dateien oder Ordner zu öffnen, die mit Einflach.Linksklick nicht auf gehen."
      p Rechtschlick ist zum öffnen des Konstextmuenüs da. Das ist ein Menü, das unterschiedlich ausfällt, je nach dem in welchem Programm man ist.    
