extends layout

block content
  .content-grid.mdl-grid
    .mdl-cell.mdl-cell--12-col
      h4 Unterschiede von Mausklicks
      ul
        li Es gibt drei Arten: Rechtsklick, Linksklick und Links-Doppelklick.
        li Eine einfache Regel sollte schon mal in den meisten Fällen helfen: 
        p 
          i "Einfach grundsätzlich Linksklick verwenden und nur Links-Doppelklick um Dateien oder Ordner zu öffnen, die mit einem einfachem Linksklick nicht aufgehen."
        li Der Rechtsklick öffnet ein Kontextmenü, das sich unmittelbar auf das angeklickte Objekt bezieht. D.h. je nach dem wo man hinklickt, erscheint ein anders Menü.        
  
    .mdl-cell.mdl-cell--4-col   
      p Maxico-Video zu Klicks
      <iframe width="560" height="315" src="https://www.youtube.com/embed/L_1tX66h1h0?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
