extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h4 Shortcutparadies

      div(class='md_max_size_div mdl-card mdl-shadow--2dp')
        table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp")
          tr
            th(class="mdl-data-table__cell--non-numeric") shortcut
            th(class="mdl-data-table__cell--non-numeric") function
            th(class="mdl-data-table__cell--non-numeric") workes in
            th(class="mdl-data-table__cell--non-numeric") level
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") strg + w
            td(class="mdl-data-table__cell--non-numeric") Tab/Reiter/Fenster schließen
            td(class="mdl-data-table__cell--non-numeric") most apps
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") win + „Programmname“
            td(class="mdl-data-table__cell--non-numeric") Programm aufrufen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") win + d
            td(class="mdl-data-table__cell--non-numeric") Desktop aufrufen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") win + Tab
            td(class="mdl-data-table__cell--non-numeric") Windows Task-View
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") alt + Tab
            td(class="mdl-data-table__cell--non-numeric") zwischen Programmen wechseln
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") win + e
            td(class="mdl-data-table__cell--non-numeric") Explorer öffnen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") win + p
            td(class="mdl-data-table__cell--non-numeric") auswählen welche Bildschirme benutzt <br/>werden sollen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + c
            td(class="mdl-data-table__cell--non-numeric") kopieren von Text und Dateien in den Zwischenspeicher
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + x
            td(class="mdl-data-table__cell--non-numeric") ausschneiden (gleich wie kopieren aber löscht zu kopierende <br/>Datei oder Text)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + v
            td(class="mdl-data-table__cell--non-numeric") einfügen von kopierten Dateien <br/>oder Text
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + z
            td(class="mdl-data-table__cell--non-numeric") letzte Änderung(en) rückgängig machen (kann über mehrere <br/>Schritte verwendet werden)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + y
            td(class="mdl-data-table__cell--non-numeric") letzte Änderung(en) wiederherstellen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + a
            td(class="mdl-data-table__cell--non-numeric") alles markieren (geht für Text aber auch für Dateien <br/>im Explorer)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + f
            td(class="mdl-data-table__cell--non-numeric") Suchfeld im entsprechenden Kontext aufrufen (im Browser z.B. <br/>kann so die Webseite durchsucht werden)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") esc
            td(class="mdl-data-table__cell--non-numeric") „flüchtigen“ Kontext verlassen oder schließen (z.B. Bildansicht <br/>in Browser, geöffnetes Kontextmenü)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="advanced")
            td(class="mdl-data-table__cell--non-numeric") win + x dann a
            td(class="mdl-data-table__cell--non-numeric") Powerplay öffnen
            td(class="mdl-data-table__cell--non-numeric") global           
            td(class="mdl-data-table__cell--non-numeric") advanced
          tr(class="advanced")
            td(class="mdl-data-table__cell--non-numeric") win + x dann g
            td(class="mdl-data-table__cell--non-numeric") Gerätemanager öffnen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") advanced
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") win + a
            td(class="mdl-data-table__cell--non-numeric") Windows Benachrichtigungsleiste anzeigen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") win + x dann r dann e
            td(class="mdl-data-table__cell--non-numeric") Schlafmodus
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") win + m
            td(class="mdl-data-table__cell--non-numeric") alle Fenster minimieren
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") win + strg + d
            td(class="mdl-data-table__cell--non-numeric") neuen virtuellen Desktop erstellen (um zwischen Desktops zu <br/>wechseln und Desktops zu schließen win + tab nutzen)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") F11
            td(class="mdl-data-table__cell--non-numeric") Programm in Vollbild-Modus (man sieht nur noch den <br/>Programminhalt) nutzen und bei erneutem Drücken wieder zurück
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + l
            td(class="mdl-data-table__cell--non-numeric") Adresszeile ansteuern
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") strg + tab
            td(class="mdl-data-table__cell--non-numeric") zwischen Tabs wechseln
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") pos1
            td(class="mdl-data-table__cell--non-numeric") an Anfang der Webseite „springen“
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="essential")
            td(class="mdl-data-table__cell--non-numeric") ende
            td(class="mdl-data-table__cell--non-numeric") zum Ende der Webseite „springen“
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") essential
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") strg + r
            td(class="mdl-data-table__cell--non-numeric") Webseite neu laden (reload)
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") strg + +
            td(class="mdl-data-table__cell--non-numeric") Zoom vergrößern
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") strg + -
            td(class="mdl-data-table__cell--non-numeric") Zoom verringern
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") strg + 0
            td(class="mdl-data-table__cell--non-numeric") Zu Zoomstufe 0 wechseln (100%)
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") F9
            td(class="mdl-data-table__cell--non-numeric") Webseite im Lesemodus anzeigen und bei erneutem <br/>Drücken wieder zurück
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") strg + h
            td(class="mdl-data-table__cell--non-numeric") browser-Historie (Chronik) anzeigen (also alle jemals <br/>besuchten Webseiten)
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") strg + b
            td(class="mdl-data-table__cell--non-numeric") browser-Lesezeichen anzeigen
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") alt + →
            td(class="mdl-data-table__cell--non-numeric") Eine Seite vor
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") alt + ←
            td(class="mdl-data-table__cell--non-numeric") Eine Seite zurück
            td(class="mdl-data-table__cell--non-numeric") browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
