extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h4 Shortcutparadies
      
      div(class='md_max_size_div mdl-card mdl-shadow--2dp')
        table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp ")
          tr
            th(class="mdl-data-table__cell--non-numeric") Shortcut
            th(class="mdl-data-table__cell--non-numeric") Funktion
            th(class="mdl-data-table__cell--non-numeric") Umgebung
            th(class="mdl-data-table__cell--non-numeric") Einstufung
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Strg + w
            td(class="mdl-data-table__cell--non-numeric") Tab/Fenster schließen
            td(class="mdl-data-table__cell--non-numeric") in vielen <br/>Anwendungen
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Win + „Programmname“
            td(class="mdl-data-table__cell--non-numeric") Programm aufrufen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Win + d
            td(class="mdl-data-table__cell--non-numeric") Desktop aufrufen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Win + Tab
            td(class="mdl-data-table__cell--non-numeric") Windows Task-View
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Alt + Tab
            td(class="mdl-data-table__cell--non-numeric") zwischen Programmen wechseln
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Win + e
            td(class="mdl-data-table__cell--non-numeric") Explorer öffnen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Win + p
            td(class="mdl-data-table__cell--non-numeric") auswählen welche Bildschirme benutzt <br/>werden sollen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + c
            td(class="mdl-data-table__cell--non-numeric") kopieren von Text und Dateien in den Zwischenspeicher
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + x
            td(class="mdl-data-table__cell--non-numeric") ausschneiden (gleich wie kopieren aber löscht zu kopierende <br/>Datei oder Text)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + v
            td(class="mdl-data-table__cell--non-numeric") einfügen von kopierten Dateien <br/>oder Text
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + z
            td(class="mdl-data-table__cell--non-numeric") letzte Änderung(en) rückgängig machen (kann über mehrere <br/>Schritte verwendet werden)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + y
            td(class="mdl-data-table__cell--non-numeric") letzte Änderung(en) wiederherstellen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + a
            td(class="mdl-data-table__cell--non-numeric") alles markieren (geht für Text aber auch für Dateien <br/>im Explorer)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + f
            td(class="mdl-data-table__cell--non-numeric") Suchfeld im entsprechenden Kontext aufrufen (im Browser z.B. <br/>kann so die Webseite durchsucht werden)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") esc
            td(class="mdl-data-table__cell--non-numeric") „flüchtigen“ Kontext verlassen oder schließen (z.B. Bildansicht <br/>in Browser, geöffnetes Kontextmenü)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="fortgeschritten")
            td(class="mdl-data-table__cell--non-numeric") Win + x dann a
            td(class="mdl-data-table__cell--non-numeric") Powerplay öffnen
            td(class="mdl-data-table__cell--non-numeric") global           
            td(class="mdl-data-table__cell--non-numeric") fortgeschritten
          tr(class="fortgeschritten")
            td(class="mdl-data-table__cell--non-numeric") Win + x dann g
            td(class="mdl-data-table__cell--non-numeric") Gerätemanager öffnen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") fortgeschritten
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Win + a
            td(class="mdl-data-table__cell--non-numeric") Windows Benachrichtigungsleiste anzeigen
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Win + x dann r dann e
            td(class="mdl-data-table__cell--non-numeric") Schlafmodus
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Win + m
            td(class="mdl-data-table__cell--non-numeric") alle Fenster minimieren
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Win + strg + d
            td(class="mdl-data-table__cell--non-numeric") neuen virtuellen Desktop erstellen (um zwischen Desktops zu <br/>wechseln und Desktops zu schließen win + tab nutzen)
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") F11
            td(class="mdl-data-table__cell--non-numeric") Programm in Vollbild-Modus (man sieht nur noch den <br/>Programminhalt) nutzen und bei erneutem Drücken wieder zurück
            td(class="mdl-data-table__cell--non-numeric") global
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + l
            td(class="mdl-data-table__cell--non-numeric") Adresszeile ansteuern
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") Strg + tab
            td(class="mdl-data-table__cell--non-numeric") zwischen Tabs wechseln
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") pos1
            td(class="mdl-data-table__cell--non-numeric") an Anfang der Webseite „springen“
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="essentiell")
            td(class="mdl-data-table__cell--non-numeric") ende
            td(class="mdl-data-table__cell--non-numeric") zum Ende der Webseite „springen“
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") essentiell
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Strg + r
            td(class="mdl-data-table__cell--non-numeric") Webseite neu laden (reload)
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Strg + +
            td(class="mdl-data-table__cell--non-numeric") Zoom vergrößern
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Strg + -
            td(class="mdl-data-table__cell--non-numeric") Zoom verringern
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Strg + 0
            td(class="mdl-data-table__cell--non-numeric") Zu Zoomstufe 0 wechseln (100%)
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") F9
            td(class="mdl-data-table__cell--non-numeric") Webseite im Lesemodus anzeigen und bei erneutem <br/>Drücken wieder zurück
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Strg + h
            td(class="mdl-data-table__cell--non-numeric") Browser-Historie (Chronik) anzeigen (also alle jemals <br/>besuchten Webseiten)
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Strg + b
            td(class="mdl-data-table__cell--non-numeric") Browser-Lesezeichen anzeigen
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Alt + →
            td(class="mdl-data-table__cell--non-numeric") Eine Seite vor
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
          tr(class="nicetoknow")
            td(class="mdl-data-table__cell--non-numeric") Alt + ←
            td(class="mdl-data-table__cell--non-numeric") Eine Seite zurück
            td(class="mdl-data-table__cell--non-numeric") Browser
            td(class="mdl-data-table__cell--non-numeric") nice to know
