extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h4 Trello

      p Trello ist eines von vielen Tools zur kollaborativen Arbeit mit digitalen Materialien. Es eignet sich gut für kleine bis mittelgroße Projekte in Teams von ca. zwei bis 6 Personen. Es kann auch zur Ideensammlung und -strukturierung von einer einzelnen Person genutzt werden.

      p Trello kann als eine Mischung aus digitaler Pinnwand und digitalem Notizbuch angesehen werden. In der Breite können Kartenreiter mit Überschriften nebeneinander angeordnet werden, in der Höhe können beliebig viele Blöcke unterhalb von Kartenreitern eingetragen werden und in der "Tiefe" können die einzelnen Blöcke mit Detailinformationen versehen werden. Alle im Team können die Pinnwand sehen und mitgestalten, also verändern oder ergänzen. Nicht mehr benötigte Teile können archiviert werden und geben so neuen Platz auf der Pinnwand frei.

      p So entsteht eine flexible Pinnwand, die eine dritte Dimension erhält, vergleichbar mit einem Apotheker*innenschrank.
      p Um Trello zu nutzen mus ein User-Account erstellt werden. 
