extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h5 Das ist WhatsApp ...
      img(src='/images/whatsapp.jpg')
      p WhatsApp ist ein 2009 gegründeter Instant-Messaging-Dienst, der seit 2014 Teil der Facebook Inc. ist. Benutzer können über WhatsApp Textnachrichten, Bild-, Video- und Ton-Dateien sowie Standortinformationen, Dokumente und Kontaktdaten zwischen zwei Personen oder in Gruppen austauschen. Im Frühjahr 2015 wurde den Nutzern auch das internetbasierte Telefonieren über die App möglich gemacht. Dem bis Anfang 2016 kostenpflichtigen, nun aber kostenlosen Dienst wird die weitgehende Ablösung der SMS zugeschrieben.
      h5 Und so gehts ...

    .mdl-cell.mdl-cell--4-col  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5CGw8qhUpAM?controls=0&amp;start=5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    .mdl-cell.mdl-cell--12-col
        p Um zum Beispiel mit einer Handwerkerin oder einem Handwerker Fotos des zu reparierenden Gegenstandes auszutauschen, benötigst du deren Handynummer. Die muss zuerste als neuer Kontakt auf dem Handy gespeichert werden. Dann ist sie auch in WhatsApp verfügbar und du kannst Fotos oder Nachrichten an diesen Kontakt senden.

        p Wie man einen neuen Kontakt speichert wird im Abschnitt 
          a(href="kontakt") Kontakt anlegen
          | .
