extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
    h1 Wunschbeitrag hinzufügen

    .mdl-cell.mdl-cell--12-col
    form(action="", method="post")
    input(type="text", name="wunschbeitrag")
