.mdl-navigation__link:hover {
  background-color: #104ac9;
}
.mdl-mini-footer__link-list li a:hover {
  color: #bbb;
}
.center_div{
  text-align: center;
}
.md_max_size_div{
  width: 100%;
  overflow-x: auto;
  word-break:break-all;
  word-wrap:break-word;
}
td{
  word-break:break-all;
  word-wrap:break-word;
}
.essentiell{
  background-color: dodgerblue;
}
.nicetoknow{
  background-color: rgb(30, 255, 139);
}
.fortgeschritten{
  background-color: rgb(202, 84, 143);
}
